<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="text-muted">
          <span class="lead">A PROPOS</span><br /><br />
          "Météa" est un site indiquant la météo ainsi que des prévisions, à partir d'APIs. La principale API
          utilisée est <a href="https://darksky.net" target="_blank">darksky.net</a>. Pour la recherche de
          localisation par nom ou par géolocalisation, nous utilisons l'API <a href="https://opencagedata.com"
            target="_blank">opencagedata.com</a><br />
          <a href="/about"><i class="fas fa-plus"></i> En savoir plus</a><br />
        </p>
      </div>
      <div class="col-sm">
        <p class="text-muted">
          <span class="lead">SITE</span><br />
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="/" class="text-secondary">Accueil</a></li>
            <li><a href="/api/v1/documentation" class="text-secondary">Documentation de l'API</a></li>
            <li><a href="/about" class="text-secondary">À propos</a></li>
            <li><a href="/legals" class="text-secondary">Mentions légales</a></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="text-muted">&copy; 2019 - Tous droits réservés - Développé par Elliot 'noftaly' Maisl.</p>
      </div>
    </div>
  </div>
</footer>
