<!--[if lt IE 7]>
  <p class="browsehappy">Vous utilisez un navigateur <strong>non supporté</strong>, car trop vieux. S'il vous plaît <a href="#">mettez à jour votre navigateur, ou changez le</a> pour améliorer votre expérience sur ce site !</p>
<![endif]-->
<noscript>
  Vous devez activer JavaScript pour pouvoir utiliser ce site web.
</noscript>
