<!DOCTYPE html>
<html>

<head>
  <%- include('global/header.ejs', {active: 'error'}) %>
  <title>Météa - Erreur...</title>
</head>

<body class="d-flex flex-column h-100">
  <% include global/unsupported.ejs %>
  <%- include('global/navbar.ejs', {active: 'error'}); %>

  <main role="main" class="flex-shrink-0">
    <div class="container" style="margin-top: 100px; margin-bottom: 30px;">
      <h1 class="mt-5 text-center">Erreur...</h1>
      <hr>

      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error <%= error %></h4>
        <p><%= message %></p>
        <hr>
        <p class="mb-0">Vous pouvez reporter les bugs <a href="/about#bug">ici</a>, si vous pensez que s'en ait un, ou qu'il se répète.</p>
      </div>
    </div>
  </main>

  <% include global/footer.ejs %>
</body>

</html>
