<!DOCTYPE html>
<html>

<head>
  <% include global/header.ejs %>
  <title>Météa - Accueil</title>
</head>

<script>
  let geolocate = false;
	if ('geolocation' in navigator) {
		geolocate = navigator.geolocation.getCurrentPosition(async (pos) => {
      const p1 = new Promise((resolve, reject) => {
        const data = fetch(`/api/city?q=${pos.coords.latitude},${pos.coords.longitude}`)
          .then(async (response) => await response.json());
        resolve(data);
      }); 
      const p2 = new Promise((resolve, reject) => {
        const data = fetch(`/api/weather?lat=${pos.coords.latitude}&lon=${pos.coords.longitude}`)
          .then(async (response) => await response.json());
        resolve(data);
      });

      const values = await Promise.all([
        p1.catch(error => { return error }),
        p2.catch(error => { return error }),
      ]);

      document.getElementById('geolocation').innerHTML = 
        `
          <div class="row mt-5">
            <div class="col-auto">
              <div class="card text-white bg-dark mb-3 text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">${values[0].name}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">${values[0].formatted}</h6>
                  <hr style="border-color: #666666;">
                  <p class="card-text">Météo à ${values[0].name} :<br />${values[1].today.summary}</p>
                  <button type="button" class="btn btn-sm btn-block btn-light stretched-link"
                    onclick="redirectToWeather('${pos.coords.latitude + ',' + pos.coords.longitude}')">Voir plus...</button>
                </div>
              </div>
            </div>
          </div>
        `;
	  });
  }
  if (!'geolocation' in navigator || !geolocate) {
		console.warn("Geolocation not available or not usable");
  }
</script>

<body class="d-flex flex-column h-100">
  <% include global/unsupported.ejs %>

  <%- include('global/navbar.ejs', {active: 'index'}); %>

  <main role="main" class="flex-shrink-0">
    <div class="container text-center" style="margin-top: 100px; margin-bottom: 30px;">
      <h1 class="mt-5">Météa</h1>
      <hr>

      <div class="content" style="margin-top: 10%;">
        <div class="row">
          <div class="col-auto">
            <div class="input-group shadow">
              <input class="form-control" id="city-input" type="text" placeholder="Choissez une ville..." aria-label="Choissez une ville"
                aria-describedby="button-addon">
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" id="button-addon" onclick="redirectToWeather()">
                  <i class="fas fa-search"></i> Chercher</button>
              </div>
            </div>
          </div>
        </div>
        <span id="geolocation"></span>
      </div>

    </div>
  </main>

  <% include global/footer.ejs %>
</body>

</html>
