<!DOCTYPE html>
<html>

<head>
  <% include global/header.ejs %>
  <title>Météa - Accueil</title>
</head>

<body class="d-flex flex-column h-100">
  <% include global/unsupported.ejs %>

  <%- include('global/navbar.ejs', {active: 'index'}); %>

  <main role="main" class="flex-shrink-0">
    <div class="container text-center" style="margin-top: 100px; margin-bottom: 30px;">
      <h1 class="mt-5">Météa</h1>
      <hr>

      <div class="content" style="margin-top: 10%;">
        <div class="row">
          <div class="col-auto">
            <div class="input-group shadow">
              <input class="form-control" id="city-input" type="text" placeholder="Choissez une ville..." aria-label="Choissez une ville"
                aria-describedby="button-addon">
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" id="button-addon" onclick="redirectToWeather()">
                  <i class="fas fa-search"></i> Chercher</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <% include global/footer.ejs %>
</body>

</html>
