:root {
  --main-color: #b5dfff;
  --inline-code-color: #669ac2;
  --lang-pills-color: #d2d2d2;
  --dark-color: #343a40;
  --gradient-start-doc-elements: #e3e2e2;
  --gradient-end-doc-elements: #ffffff;
  --footer-color: #f4f4f4;
  --table-light-color: #ffffff;
}

html, body {
  height: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--main-color);
}

/* Links */
a, a:hover {
  text-decoration: none;
}

/* Symbols */
.fa-globe-africa {
  font-size: 16px;
  padding: 3px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fa-plus {
  font-size: 9px;
  padding: 2px;
  border: 1px solid;
  border-radius: 50%;
}

/* Form */
.content {
  display: grid;
  place-items: center;
}

/* Index page */
#index-content {
  margin-top: 10%;
}

/* Cards */
.card {
  width: 18rem;
  border-radius: 15px !important;
}

.card .btn {
  border-radius: 10px;
}

#geolocation-card {
  background-color: var(--main-color);
}

#geolocation-card hr {
  border-color: var(--dark-color);
}

/* Documentation */
#nav-tab-langs .nav-item {
  border-radius: 50px !important;
}

#nav-tab-langs .active {
  background-color: var(--lang-pills-color) !important;
}

.nav-pills .nav-link,
.nav-pills .nav-link .active {
  color: var(--dark-color) !important;
}

#doc-menu-tab .active {
  background: linear-gradient(0.25turn, var(--gradient-start-doc-elements), var(--gradient-end-doc-elements));
}

#doc-search {
  border-radius: 10px;
}

code {
  color: var(--inline-code-color);
}

pre[class*="language-"].line-numbers {
  padding-left: 3em !important;
}

a .toggle-collapse,
code {
  text-decoration: none !important;
}

/* Weather-image */
.weather-image {
  width: 100px;
  height: 65px;
}

/* Map */
#map {
  height: 250px;
}

/* Carousel */
.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  padding-right: 15px;
  padding-left: 15px;
  text-indent: 0px;
  text-align: center;
  background-color: var(--dark-color);
}

/* Fixed Footer */
main .container {
  flex: 1 0 auto
}

footer {
  flex-shrink: none;
}

/* Footer */
footer {
  background-color: var(--footer-color);
  font-size: 14px;
  flex-shrink: none;
}

footer .lead {
  font-size: 16px;
}

/* Custom tables */
.dark-key-customtable, .dark-symbol-customtable {
  background-color: var(--dark-color);
  color: var(--table-light-color);
}

.dark-key-customtable {
  padding-left: 30px;
}

.light-value-customtable {
  background-color: white;
  color: var(--dark-color);
  padding-right: 20px;
}

.table .corner-tl { border-top-left-radius: 10px; }

.table .corner-tr { border-top-right-radius: 10px; }

.table .corner-bl { border-bottom-left-radius: 10px; }

.table .corner-br { border-bottom-right-radius: 10px; }
