html, body {
  height: 100%;
}

/* Links */
a, a:hover {
  text-decoration: none;
}

/* Symbols */
.fa-globe-africa {
  font-size: 16px;
  padding: 3px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fa-plus {
  font-size: 9px;
  padding: 2px;
  border: 1px solid;
  border-radius: 50%;
}

/* Form */
.content {
  display: grid;
  place-items: center;
}

/* Cards */
.card {
  width: 18rem;
  border-radius: 15px !important;
}

.card .btn {
  border-radius: 10px;
}

/* Documentation */
#nav-tab-langs .nav-item {
  border-radius: 50px !important;
}

#nav-tab-langs .active {
  background-color: #d2d2d2 !important;
}

.nav-pills .nav-link,
.nav-pills .nav-link .active {
  color: #343a40 !important;
}

#doc-menu-tab .active {
  background: linear-gradient(0.25turn, #e3e2e2, #ffffff);
}

#doc-search {
  border-radius: 10px;
}

code {
  color: #669ac2;
}

pre[class*="language-"].line-numbers {
  padding-left: 3em !important;
}

a .toggle-collapse,
code {
  text-decoration: none !important;
}

/* Map */
#map {
  height: 250px;
}

/* Carousel */
.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  padding-right: 15px;
  padding-left: 15px;
  text-indent: 0px;
  text-align: center;
  background-color: #343a40;
}

/* Fixed Footer */
main .container {
  flex: 1 0 auto
}

footer {
  flex-shrink: none;
}

/* Footer */
footer {
  background-color: #f4f4f4;
  font-size: 14px;
  flex-shrink: none;
}

footer .lead {
  font-size: 16px;
}

/* Custom tables */
.dark-key-customtable, .dark-symbol-customtable {
  background-color: #343a40;
  color: white;
}

.light-value-customtable {
  background-color: white;
  color: #343a40;
}

.table .corner-tl { border-top-left-radius: 10px; }

.table .corner-tr { border-top-right-radius: 10px; }

.table .corner-bl { border-bottom-left-radius: 10px; }

.table .corner-br { border-bottom-right-radius: 10px; }
