<!DOCTYPE html>
<html>

<head>
  <%- include('../global/header.ejs', {active: 'documentation'}) %>
  <title>Météa - À Propos</title>
</head>

<body class="d-flex flex-column h-100">
  <% include ../global/unsupported.ejs %>
  <%- include('../global/navbar.ejs', {active: 'documentation'}); %>

  <main role="main" class="flex-shrink-0">
    <div class="container-fluid">
      <h1 class="mt-5 text-center">Documentation</h1>
      <hr>

      <% if (version === 'v1') { %>
        <div class="row">
          <div class="col-12 col-md-2 mb-2">
            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" id="doc-search" placeholder="Chercher..." aria-label="searchDoc" aria-describedby="inputGroup-searchDoc-sm">
            </div>
            <div class="nav flex-column nav-pills" id="doc-menu-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-item nav-link active" id="doc-menu-city-tab" data-toggle="pill" href="#doc-menu-city" role="tab" aria-controls="doc-menu-city" aria-selected="true">Ville</a>
              <a class="nav-item nav-link" id="doc-menu-forecast-tab" data-toggle="pill" href="#doc-menu-forecast" role="tab" aria-controls="doc-menu-forecast" aria-selected="false">Météo</a>
            </div>
          </div>
          <div class="col-12 col-md-10">
            <div class="tab-content" id="doc-menu-tabContent">
              <div class="tab-pane active" id="doc-menu-city" role="tabpanel" aria-labelledby="doc-menu-city-tab">
                <%- include('./element.ejs', elements['city']) %>
              </div>
              <div class="tab-pane" id="doc-menu-forecast" role="tabpanel" aria-labelledby="doc-menu-forecast-tab">
                <%- include('./element.ejs', elements['forecast']) %>
              </div>
            </div>
          </div>
        </div>
      <% } else { %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Erreur</h4>
          <p>Version de la documentation demandée inconnue</p>
          <hr>
          <p class="mb-0">Vous pouvez reporter les bugs <a href="/about#bug">ici</a>, si vous pensez que s'en ait un, ou qu'il se répète.</p>
        </div>  
      <% } %>
    </div>
  </main>

  <% include ../global/footer.ejs %>
</body>

</html>
